body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 button {
     width:16%;
    background-color:#058973;
    border: 1px solid black;
    color: white;
    padding: 16px 32px;
    border-radius: 12px;
    margin: 4px 2px;
    cursor: pointer;
    font-size:24px;
}
input[type=text],[type=number],[type=password],[type=submit]{
    width: 22%;
    padding: 12px 20px;
    margin: 8px 0;
  
   
     border: 3px solid black;
      border-radius: 12px;
     
}
#upper {
  font-size :105%; 
}
div{
font-size :120%;

    overflow-y:auto;

    
}
.commenteven{
 margin-left: 2%;
    color:chocolate;
    width:35%;
    
}
.commentodd{
    margin-left: 10%;
    color: brown;
    width:35%;
}
#bodytwo {
    font-family:Tahoma, Geneva, sans-serif;
    background-color:#FFF8DC ;
    margin-top: 45px;
     margin-left: 2%;
}
small{
    color:red;
}